<!--<div *ngFor="let item of [1,2,3]">
<p>product is {{item}}</p> 
</div>
-->
<div *ngFor="let p of products">
    <div class="Product-Container" [ngStyle]="{backgroundColor:p.avaliable==='Avaliable' ? '#D5F5E3':'#FADBD8'}">
        <div class="image-container">
            <img [src]='p.image' alt="" style=" max-height: 50px ;  max-width:50px;">
    
        </div>
        
        <div class="name-container">
            <h6>{{p.name}}</h6>
        </div>
        
        <div class="detail-container">
    
            <div class="details" [ngStyle]="{color:p.avaliable==='Avaliable' ? 'Green':'Red'}">{{p.avaliable}}</div>
            <div class="details"><b>Price:</b>{{p.price}}:</div>
            <div class="details"><b>Color:</b>{{p.color}}</div>
    
        </div>
    </div>
    <div class="options">
        <button class="button button-success"><b>Show Details</b></button>
        <button class="button button-warning" *ngIf="p.avaliable==='Avaliable'; else notify; "><b>Buy Now</b></button>
        <ng-template #notify>
            <button class="button button-danger"><b>Notify</b></button>
        </ng-template>
    
      </div>
</div>
  